
<div class="col-md-12">
  <div class="movie">

    <span class="pull-right">
  <% if current_user && current_user.is_member_of?(@movie) %>
    <label class="label label-success"> 收藏 </label>
       <%= link_to("取消收藏", quit_movie_path(@movie), method: :post, class: "btn btn-default") %>
  <% else %>
    <label class="label label-warning"> 取消收藏 </label>
     <%= link_to("收藏电影", join_movie_path(@movie), method: :post, class: "btn btn-default") %>
  <% end %>
   </span>

    <%= link_to("Review", new_movie_post_path(@movie), class: "btn btn-default pull-right")%>
    <% if current_user && current_user == @movie.user %>
    <%= link_to("Edit", edit_movie_path(@movie), class: "btn btn-primary pull-right")%>
     <% end %>
  </div>
  <h2><%= @movie.title %></h2>

    <table class="table">
    <thead>
     <tr>
        <th>评论内容</th>
        <th>发表者</th>
        <th>发表时间</th>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.content %></td>
          <td><%= post.user.email %></td>
          <td><%= post.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
